<div class="w-full flex flex-col justify-between h-full" style="height: 80vh">
    <div class="flex flex-col mt-5 flex-1 px-4" id="chat-messages" style="overflow-y: auto; width: 100%; height: 60%">
      <!-- <div class="flex justify-end mb-4">
        <div
          class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white"
        >
          Welcome to group everyone !
        </div>
        <img
          src="https://source.unsplash.com/vpOeXr5wmR4/600x600"
          class="object-cover h-8 w-8 rounded-full"
          alt=""
        />
      </div>

      <div class="flex justify-start mb-4">
        <img
          src="https://source.unsplash.com/vpOeXr5wmR4/600x600"
          class="object-cover h-8 w-8 rounded-full"
          alt=""
        />
        <div
          class="ml-2 py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          at praesentium, aut ullam delectus odio error sit rem. Architecto
          nulla doloribus laborum illo rem enim dolor odio saepe,
          consequatur quas?
        </div>
      </div>

      <div class="flex justify-end mb-4">
        <div>
          <div
            class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white"
          >
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Magnam, repudiandae.
          </div>

          <div
            class="mt-4 mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Debitis, reiciendis!
          </div>
        </div>
        <img
          src="https://source.unsplash.com/vpOeXr5wmR4/600x600"
          class="object-cover h-8 w-8 rounded-full"
          alt=""
        />
      </div>
      <div class="flex justify-start mb-4">
        <img
          src="https://source.unsplash.com/vpOeXr5wmR4/600x600"
          class="object-cover h-8 w-8 rounded-full"
          alt=""
        />
        <div
          class="ml-2 py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white"
        >
          happy holiday guys!
        </div>
      </div> -->

    </div>

    <div class="pt-5 pb-2 flex gap-4 mx-2">
      <input
        id="send-message-input"
        class="w-full bg-secondary text-desc py-4 px-5 rounded-xl"
        type="text"
        placeholder="type your message here..."
      />
      <button class="ring-1 rounded-full ring-title shadow-md hover:shadow-title px-2 py-1 text-sm hover:opacity-80 hidden" id="img-upload">Image</button>
      <input type="file" class="hidden" id="file-upload-input" accept="image/*">
    </div>
</div>